@import 'src/globalStyle/vars';

.button {
	display: inline-block;
}

.button a,
.button button {
	display: inline-block;
	padding: 10px 13px 8px;
	background: transparent;
	border: 2px solid darken($title, 30%);
	color: darken($title, 30%);
	cursor: pointer;
	transition: all $time;
	
	&:hover {
		border-color: $title;
		color: $title;
	}
}