@import "src/globalStyle/vars";
@import "src/globalStyle/mixins";

/* Цвет на странице при выделении */
::-moz-selection {background: #f48b8b;color: #fff;}
::selection {background: #f48b8b;color: #fff;}
/*End Цвет при выделении*/

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  //color: red; //цвет текста при фокусе placeholder
}

body input:required:valid,
body textarea:required:valid {
  //color: blue; //цвет текста когда печатаешь
}


address,
blockquote,
figure,
figcaption,
main,
details,
fieldset {
	display: block;
	border: 0;
	font-style: normal;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: all $time;
	outline:none !important;
	border: none;
	&:hover {
		outline:none;
	};
	&:active {
		outline:none;
		transition: all.1s ease;
	};
}

button {
	outline:none;
	&:active {
		outline:none;
		transition: all.1s ease;
	}
}

img {
	max-width: 100%; 
	height: auto; 
	width: auto\9;
}

input,textarea {
	@include placecolor($subtext);
	outline: none;
	&:focus {
		outline: none;
	}
}

body *,
body *:before,
body *:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
mark {
	background-color: transparent;
}


body {
	font-family: $reg, sans-serif; 
	color: #000; 
	min-width: 320px;
	width: 100%; 
	height: 100%;
	-webkit-font-smoothing: antialiased; /* сглаживание шрифта*/
	padding: 0;
	margin: 0;
	/* BEGIN scroll */
	/*
	::-webkit-scrollbar{
    width: 5px;
	}
	::-webkit-scrollbar-thumb{
    background-color: #AFB0B2;
    cursor: pointer;
	}
	::-webkit-scrollbar-thumb:hover{
    background-color: $bg;
    cursor: pointer;
	}
	::-webkit-scrollbar-track{
    border-width:0;
	}
	::-webkit-scrollbar-track-piece {
		background: #fff;
	}
	*/
	/* END scroll */
}/*END body*/


/*BEGIN loader*/
.loader {
	background: none repeat scroll 0 0 #ffffff;
	bottom: 0;
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	&__inner {
		//background-image: url("../img/preloader.gif");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #fff;
		height: 60px;
		width: 60px;
		margin-top: -30px;
		margin-left: -30px;
		left: 50%;
		top: 50%;
		position: absolute;
	}
}
/*END loader*/