
/* Цвет на странице при выделении */
::-moz-selection {background: #f48b8b;color: #fff;}
::selection {background: #f48b8b;color: #fff;}
/*End Цвет при выделении*/

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  //color: red; //цвет текста при фокусе placeholder
}

body input:required:valid,
body textarea:required:valid {
  //color: blue; //цвет текста когда печатаешь
}


address,
blockquote,
figure,
figcaption,
main,
details,
fieldset {
	display: block;
	border: 0;
	font-style: normal;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: all 0.5s ease-in-out;
	outline:none !important;
	border: none;
	&:hover {
		outline:none;
	};
	&:active {
		outline:none;
		transition: all.1s ease;
	};
}

button {
	outline:none;
	&:active {
		outline:none;
		transition: all.1s ease;
	}
}

img {
	max-width: 100%; 
	height: auto; 
	width: auto\9;
}

input,textarea {
	outline: none;
	&:focus {
		outline: none;
	}
}

body *,
body *:before,
body *:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
mark {
	background-color: transparent;
}


body {
	font-family: 'ComingSoon-Regular', sans-serif; 
	color: #000; 
	min-width: 320px;
	width: 100%; 
	height: 100%;
	-webkit-font-smoothing: antialiased; /* сглаживание шрифта*/
	padding: 0;
	margin: 0;
}/*END body*/

.vis-hid {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
	overflow: hidden;
}