.Link {
	display: inline-block;
	padding: 10px 13px 8px;
	background: transparent;
	border: 2px solid darken(white, 30%);
	color: darken(white, 30%);
	cursor: pointer;
	transition: all 0.5s ease-in-out;

	&:hover {
		border-color: white;
		color: white;
	}
}